<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMS.Web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- added to allow stylesheets to be added to the header section from a view -->
    @RenderSection("Header", false)
</head>
<body>
    <header>
        <!-- Toggler - responsive navbar https://getbootstrap.com/docs/5.3/components/navbar/#toggler -->
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-primary fw-bold" href="#">Ulster Movie Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarToggler">
                                                  
                    <partial name="_LoginPartial" />  

                    <!-- Menu Items -->
                    <ul class="navbar-nav me-auto my-1 my-lg-0 fw-normal"> 

                        <li class="nav-item">
                            <a class="nav-link text-dark hover-effect" asp-controller="Home" asp-action="Index">Home</a>
                        </li>  

                        <!-- check user is authenticated -->
                        <li class="nav-item" asp-condition=@User.Identity.IsAuthenticated>
                            <a class="nav-link text-dark hover-effect" asp-controller="Movie" asp-action="Index">Movies</a>
                        </li>

                        <!-- check authorisation roles admin,support for access to reviews route -->
                        <li class="nav-item" asp-condition=@User.HasOneOfRoles("admin,support")>
                            <a class="nav-link text-dark hover-effect" asp-controller="Review" asp-action="Index">Reviews</a>
                        </li>
                        
                        <!-- dropdown menu -->
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle hover-effect" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Company</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                                <li> <a class="dropdown-item" asp-controller="Home" asp-action="About">About</a></li>
                            </ul>
                        </li>  

                    </ul> 
                </div>
            </div>
        </nav>
    </header>

    <div class="container my-4">
        <!-- render the alert partial -->
        <partial name="_AlertIcons" />

        <main role="main">
            @RenderBody()
        </main>

    </div>

    <footer class="bottom border-top w-100 bg-light py-2 mt-5 text-muted text-center">
        &copy; 2024 - Movie Manager
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
