@model ReviewSearchViewModel

<!-- search form -->
<form hx-trigger="keyup changed delay:500ms from:input" hx-get hx-target="#reviews" hx-swap="outerHTML" asp-controller="Review" asp-action="Index" method="GET" class="d-flex flex-row align-items-center">
    @* <div class="form-check me-3">
        <input class="form-check-input" type="radio" asp-for="Range" value="@TicketRange.all">
        <label class="form-check-label" for="Range">All</label>
    </div>
    <div class="form-check me-3">
        <input class="form-check-input" type="radio" asp-for="Range" value="@TicketRange.closed">
        <label class="form-check-label" for="Range">Closed</label>
    </div>
    <div class="form-check me-3">
        <input class="form-check-input" type="radio" asp-for="Range" value="@TicketRange.open" >
        <label class="form-check-label" for="Range">Open</label>
    </div> *@

    <input class="form-control me-2" asp-for="Query" placeholder="Search movie or review by title..">
   
    <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
    <a asp-action="Index" class="btn btn-sm btn-light ms-3">Clear</a>
</form>
