@model AboutViewModel

<div class="callout callout-info text-center">   
    <h1>@Model.Title</h1>

    <h5 class="mt-4">@Model.Message</h5>
    <p class="mt-4">Formed on @Model.FormedString <cite title="Source Title">(@Model.Days days ago)</cite></p>

</div>