
<div class="callout callout-info text-center">
    <h1>Ulster MovieFlix</h1>
    The best website for movie management.
</div>

<div class="callout callout-warning text-center">
    Today is <b>@DateTime.Now.ToLongDateString()</b> 
    and time is <b>@ViewBag.Time</b>
</div>
