<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
        @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete @Model.Title</p>
      </div>
      <div class="modal-footer">
        <form asp-action="DeleteConfirm" asp-route-id=@Model.Id>
            <button type="submit" class="btn btn-danger" aria-label="delete">Delete</button>            
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </form>        
      </div>
    </div>
  </div>
</div>